@font-face {
    font-family: "Proxima Nova", sans-serif;
    src: url(../tipografia/proximanova_regular.ttf);
}

body,
html {
    margin: 0 auto;
    padding: 0;
    font-family: "Proxima Nova", sans-serif;
    background-image: url(../assets/fondo.webp)
}

/*BARRA DE NAVEGACION*/
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3dae2b;
    align-content: center;
    justify-content: center;
}

.menu-Enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}

.menu-Enlaces-Titulo {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-Enlaces-Titulo a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 15px;
    padding: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}

.menu-Enlaces-Titulo a:hover {
    background-color: #f18a00;
}

/*CARRUSEL DE BANNERS*/
#carouselExampleIntervalMovil {
    display: none;
}
.carousel-indicators{
    top: 53%;
}
.carousel-indicators [data-bs-target] {
    background-color: #f18a00;
    width: 100px;
}

.carousel-control-prev-icon {
    background-color: #f18a00;
    border-radius: 100%;
}

.carousel-control-next-icon {
    background-color: #f18a00;
    border-radius: 100%;
}

.carousel-item img {
    object-fit: cover;
    height: 360px;
}

.carousel-caption {
    position: absolute;
    top: 0;
    padding: 0;
    width: 100%;
    right: 0;
    left: 0;
}

.texto-con-sombra-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 360px;
    background-color: rgba(0, 0, 0, 0.4);
    /* Color de fondo negro con 50% de opacidad */
}
.texto-con-sombra-container p{
    position: absolute;
    top:0;
    left: 1rem;
    font-weight: 550;
}
.texto-con-sombra {
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.reclutamiento,
.galeria,
.atractivos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.videos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contenedorPadre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:5px;
}

.contenedorImagen {
    position: relative;
    width: 30%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.contenedorImagen:hover img {
    transform: scale(1.2);
}

.contenedorImagen p {
    position: absolute;
    top: 45%;
    color: white;
    margin: 0;
    text-align: center;
    width: 80%;
    z-index: 1;
}

.contenedorImagen img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    z-index: 0;
    transition: transform 0.3s ease;
}

.boton {
    margin-top: 10px;
}

.boton a {
    color: white;
    text-decoration: none;
    background-color: #5f6675;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.boton a:hover {
    background-color: #494c50;
}

.texto {
    max-width: 500px;
}

.Titulo-nombre,
.subTitulo {
    margin: 0;
}

.cuerpo {
    border-radius: 5px;
    background-color: rgba(241, 138, 0, 0.6);
    /* Naranja con 50% de opacidad */
}

.centro-align {
    text-align: center;
}

.primerVideo {
    max-width: 638px;
    width: 95%;
    height: 359px;
    min-width: 338px;
    min-height: 190px;
    border-radius: 10px;
}

.segundoVideo {
    margin: 0 auto;
    max-width: 1400px;
    width: 95%;
    height: 750px;
    min-width: 338px;
    border-radius: 10px;
}


.atractivos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagenTercio {
    max-height: 500px;
}


.carousel-inner {
    margin: 0 auto;
}

.carousel-item {
    text-align: center;
}

.custom-carousel-container {
    overflow: hidden;
    width: 100%;
}

.custom-carousel-wrapper {
    display: flex;
}

.custom-carousel-slide {
    display: flex;
    width: 300%;
    /* Ancho total de las imágenes (100% * 3 imágenes) */
    transition: transform 0.8s ease-in-out;
}

.custom-carousel-slide img {
    width: 33.33%;
    /* Ancho de cada imagen en porcentaje */
    object-fit: cover;
    /* Ajusta el tamaño de la imagen para llenar el espacio sin distorsiones */
    transition: transform 0.8s ease-in-out;
}

.custom-active {
    transform: scale(1.2);
    /* Hace que la imagen activa sea un 20% más grande */
}

.carousel-control-prev {
    width: auto;
    opacity: 0.4;
}

.carousel-control-next {
    width: auto;
    opacity: 0.4;
}

.atractivos,
.galeria,
.videos,
.tips,
.reclutamiento,
.infoGeneral {
    padding-top: 50px;
}

.footer {
    background-color: #3dae2b;
    border-top: 2px solid #284c23;
}

.col a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: #3dae2b;
    transition: font-size 0.5s ease;
}

.col a:hover {
    color: white;
    font-size: 22px;
}

.col-12 a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: #3dae2b;
    transition: font-size 0.5s ease;
}

.col-12 a:hover {
    color: white;
    font-size: 22px;
}

.col-12 p {
    color: black;
    font-size: 20px;
}

.col,
.col-12 {
    padding: 10px;
}


.row-cols-2 {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.col {
    border: 1px solid white;
    border-radius: 8px;
    width: 49%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

i {
    padding-right: 5px;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.reclutamiento,
.tips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pasos,
.titulo {
    padding: 0px 5% 0 5%;
}

.titulo {
    font-size: 22px;
    font-weight: 550;
    text-align: center;
}

.infoGeneral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infoGeneral h2,
.infoGeneral p,
.infoGeneral a {
    padding: 0 15px;
}

.infoGeneral a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin: 15px;
    padding: 5px;
    border: 2px solid #3dae2b;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}

.infoGeneral a:hover {
    border: 2px solid #f18a00;
    color: white;

}

.final {
    margin: 0;
    padding: 10px;
}

/*BOTON MOVIL*/
.menuMovil {
    display: none;
}

.popup {
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;
    --burger-bg: rgba(0, 0, 0, .15);
    --burger-color: #333;
    --burger-color-span: white;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 2.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: .3s;
    --burger-transition: all .1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: .95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.25em;
    --nav-padding-y: 0.625em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, .2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #eee;
    --nav-font-family: Menlo, Roboto Mono, monospace;
    --nav-default-scale: .8;
    --nav-active-scale: 1;
    --nav-position-left: 0;
    --nav-position-right: unset;
    /* if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
    /* title */
    --nav-title-size: 12px;
    --nav-title-color: #777;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 16px;
    --nav-button-hover-bg: #5f6675;
    --nav-button-hover-text-color: #fff;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
}

/* popup settings 👆 */

.popup {
    display: inline-block;
    text-rendering: optimizeLegibility;
    position: relative;
    margin-left: 5px;
}

.popup input {
    display: none;
}

.burger {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: var(--burger-bg);
    width: var(--burger-diameter);
    height: var(--burger-diameter);
    border-radius: var(--burger-btn-border-radius);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: var(--burger-transition);
    outline: var(--burger-enable-outline-width) solid transparent;
    outline-offset: 0;
}

.burger span {
    height: var(--burger-line-height);
    width: var(--burger-line-width);
    background: var(--burger-color-span);
    border-radius: var(--burger-line-border-radius);
    position: absolute;
    transition: var(--burger-line-transition);
}

.burger span:nth-child(1) {
    top: var(--burger-offset);
}

.burger span:nth-child(2) {
    bottom: var(--burger-offset);
}

.burger span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
}

.popup-window {
    transform: scale(var(--nav-default-scale));
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: var(--nav-padding-y) var(--nav-padding-x);
    background: var(--nav-bg);
    margin-left: 5px;
    color: var(--nav-text-color);
    border-radius: var(--nav-border-radius);
    box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
    border: var(--nav-border-width) solid var(--nav-border-color);
    top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
    left: var(--nav-position-left);
    right: var(--nav-position-right);
    transition: var(--burger-transition);
}

.popup-window legend {
    padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
    margin: 0;
    color: var(--nav-title-color);
    font-size: var(--nav-title-size);
    text-transform: uppercase;
}

.popup-window ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.popup-window ul button {
    outline: none;
    width: 100%;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    color: var(--burger-color);
    font-size: var(--nav-button-font-size);
    padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
    white-space: nowrap;
    border-radius: var(--nav-button-border-radius);
    cursor: pointer;
    column-gap: var(--nav-button-distance);
}

.popup-window ul button a {
    text-decoration: none;
    color: var(--burger-color);
}

.popup-window ul button a:hover {
    background: none;
    color: white
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
    color: rgb(21, 21, 22);
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
    color: rgb(153, 153, 153);
}



/* actions */

.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
    color: var(--nav-button-hover-text-color);
    background: var(--nav-button-hover-bg);
}

.burger:hover {
    transform: scale(var(--burger-hover-scale));
}

.burger:active {
    transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
    outline-color: var(--burger-enable-outline-color);
    outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked+.burger span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.popup input:checked+.burger span:nth-child(2) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.popup input:checked+.burger span:nth-child(3) {
    transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
}

.popup input:checked~nav {
    transform: scale(var(--nav-active-scale));
    visibility: visible;
    opacity: 1;
}


.naranja{
    color:#f18a00;
    font-weight: bold;
}
.verde{
    color:#3dae2b;
    font-weight: 600;
}

.espacio{
    padding-top: 50px;
    padding-bottom: 50px;
    }
    .espacioBottom{
        padding-bottom: 20px;
    }
    .espacioTop{
        padding-bottom: 20px !important;
    }

.textosecundario {
        font-size: 14px !important;
    }

.textoprincipal {
        font-size: 16px !important;
        font-weight: bold;
    }

    .infoGeneral a {
        text-decoration: none;
        color: white;
        background-color: rgb(61, 174, 43); 
        font-size: 20px;
        font-weight: 600;
        margin: 15px;
        padding: 10px !important;
        border-radius: 10px;
        transition: background-color 0.5s ease 0s;
    }
    
    .infoGeneral a:hover {
       
        background-color: rgb(241, 138, 0);
        color: white;
    }



    .seccion-8 {
        background: #F9F9F9;
      }
      
      .seccion-8 .card {
        border: none;
        border-radius: 0;
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      }
      
      .seccion-8 .card-footer {
        background: none transparent;
        border: none;
      }
      
      /*.seccion-8 {
        padding-top: 10.8rem;
        padding-bottom: 5.8rem;
        padding-left: 2.1rem;
        padding-right: 2.1rem;
      }*/
      
     
      .seccion-8 .card {
        margin-bottom: 4rem;
        border-radius: 3px !important;
      }
      
      .seccion-8 .card img {
        border-radius: 3px 3px 0 0 !important;
      }
      
      .seccion-8 .card-body {
        padding: 3.1rem 2.6rem 0;
      }
      
      .seccion-8 .card-footer {
        padding: 0 2.6rem 3.1rem;
        margin: 0;
      }
      
      .seccion-8 .card-body h4 {
        margin: 0;
        padding: 0;
      }
      
      .seccion-8 .card-body p {
        padding-top: 2.4rem;
        padding-bottom: 3.1rem;
      }
      
      @media all and (min-width: 576px) {
        .seccion-8 .card.n4 {
          margin-left: 15px;
          margin-right: 15px;
        }
        .seccion-8 .card-body {
          padding-left: 15px;
          padding-right: 15px;
        }
        .seccion-8 .card-footer {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      
      @media all and (min-width: 768px) {
        /*.seccion-8 {
          padding-top: 9.5rem;
          padding-bottom: 8rem;
          padding-left: 0;
          padding-right: 0;
        }
        .seccion-8 h2 {
          padding-bottom: 7.7rem;
        }*/
        .seccion-8 .card-body {
          padding: 3.5rem 1.5rem 0;
        }
        .seccion-8 .card-footer {
          padding: 0 1.5rem 3.7rem;
        }
        .seccion-8 .card-body p {
          padding-top: 1.5rem;
          padding-bottom: 4rem;
        }
      }
      
      @media all and (min-width: 992px) {
        .seccion-8 .card.n4 {
          margin-left: 30px;
          margin-right: 30px;
        }
        .seccion-8 .card-body,
        .seccion-8 .card-footer {
          padding-left: 2.5rem;
          padding-right: 2.5rem;
        }
      }
      
      .seccion-8.pa-version {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
      }
      
      .seccion-8.pa-version .link:hover {
        text-decoration: underline;
      }
      



/*MEDIAS QUERYS*/

@media screen and (max-width: 1200px) {
    .menu {
        justify-content: space-between;
        align-items: center;
    }

    .menu-Enlaces {
        display: none;
    }

    .menuMovil {
        display: block;
        z-index: 2;
    }

    .popup-window {
        z-index: 1;
    }

    .carousel {
        z-index: 0;
    }

    #carouselExampleInterval {
        display: none;
    }

    #carouselExampleIntervalMovil {
        display: flex;
    }

}

@media screen and (max-width: 1160px) {
    .videos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   /* .segundoVideo {

        width: 638px;

    }*/

    .texto {
        margin: 10px auto;
        max-width: 630px;
    }
}

/*@media screen and (max-width: 871px) {
    .tips {
        display: flex;
        flex-direction: column;
    }

    .reclutamiento {
        display: flex;
        flex-direction: column;
    }

    .infoGeneral {
        display: flex;
        flex-direction: column;
    }
}*/

@media (max-width: 768px) {
    .d-none {
        display: block !important;
        ;
    }
}

@media (max-width: 675px) {
    .contenedorPadre{
        flex-direction: column;
    }
    .contenedorImagen{
        width: 95%;
    }
}

/*@media screen and (max-width: 674px) {

    .segundoVideo {
        width: 95%;
        height: 359px;

    }
}*/

@media screen and (max-width: 500px) {
    .col {
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    .row-cols-2 .col a {

        font-size: 18px;
    }

}



@media screen and (max-width: 400px) {
    .row-cols-2 .col a {

        font-size: 16px;
    }

}