body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(../assets/fondo.webp);
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3dae2b;
    align-content: center;
    justify-content: center;
}

.menu-Enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}

.menu-Enlaces-Titulo {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-Enlaces-Titulo a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 15px;
    padding: 5px;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}

a:hover {
    background-color: #f18a00;
}

.carousel-indicators [data-bs-target] {
    background-color: #f18a00;
}

.carousel-control-prev-icon {
    background-color: #f18a00;
    border-radius: 100%;
}

.carousel-control-next-icon {
    background-color: #f18a00;
    border-radius: 100%;
}

.videos, .reclutamiento, .galeria, .atractivos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}

.texto {
    margin: 0 0 0 auto;
    max-width: 500px;
}

.Titulo-nombre {
    margin: 0;
}

.centro-align {
    text-align: center;
}

.primerVideo {
    margin: 0 auto 0 0;
    width: 638px;
    height: 359px;
    min-width: 338px;
    min-height: 190px;
    border-radius: 10px;
}

.segundoVideo {
    min-width: 338px;
    min-height: 190px;
    border-radius: 10px;
}

.atractivos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagenTercio {
    max-height: 500px;
}

/* Puedes ajustar estos estilos según tus preferencias */
.carousel-inner {
    margin: 0 auto;
}

.carousel-item {
    text-align: center;
}

.custom-carousel-container {
    overflow: hidden;
    width: 100%;
}

.custom-carousel-wrapper {
    display: flex;
}

.custom-carousel-slide {
    display: flex;
    width: 300%;
    /* Ancho total de las imágenes (100% * 3 imágenes) */
    transition: transform 0.8s ease-in-out;
}

.custom-carousel-slide img {
    width: 33.33%;
    /* Ancho de cada imagen en porcentaje */
    object-fit: cover;
    /* Ajusta el tamaño de la imagen para llenar el espacio sin distorsiones */
    transition: transform 0.8s ease-in-out;
}

.custom-active {
    transform: scale(1.2);
    /* Hace que la imagen activa sea un 20% más grande */
}

.carousel-control-prev {
    width: auto;
    opacity: 0.4;
}

.carousel-control-next {
    width: auto;
    opacity: 0.4;
}

.atractivos,
.galeria,
.videos,
.tips,
.reclutamiento,
.infoGeneral {
    padding-top: 50px;
}

.footer {
    background-color: #3dae2b;
    border-top: 2px solid #284c23;
}

.col a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: #3dae2b;
    transition: font-size 0.5s ease;
}

.col a:hover {
    color: white;
    font-size: 22px;
}

.col-12 a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: #3dae2b;
    transition: font-size 0.5s ease;
}

.col-12 a:hover {
    color: white;
    font-size: 22px;
}

.col-12 p {
    color: black;
    font-size: 20px;
}

.col,
.col-12 {
    padding: 10px;
}


.row-cols-2 {
    gap: 10px;
}


.col {
    border: 1px solid white;
    border-radius: 8px;
    width: 49%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

i {
    padding-right: 5px;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.reclutamiento,
.tips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pasos,
.titulo {
    padding: 0px 5% 0 5%;
}

.infoGeneral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infoGeneral h2,.infoGeneral p,.infoGeneral a{
    padding: 0 15px;
}

.infoGeneral a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin: 15px;
    padding: 5px;
    border:2px solid #3dae2b;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}


.infoGeneral a:hover{
    border:2px solid #f18a00;
    color:white;
    
}
.final{
    margin:0;
    padding:10px;
}